/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4d6bdf;
  --secondary-color: #99e9a5;
  --light-secondary-color: #d3f4d8;
  --light-primary-color: #d4ddff;
  --heading-color: #242424;
  --text-color: #333333;
  --light-text-color: #555;
  --white-text-color: #fff;
  --background-color: #e9edff;
  --radial-gradient-color: radial-gradient(
    circle,
    #2ecc71 10%,
    #27ae60 60%,
    #4d6bdf 100%
  );
  --primary-gradient: linear-gradient(45deg, #99e9a5, #4d6bdf);
  --border-gradient: linear-gradient(to bottom, #4d6bdf, #99e9a5);
}

/* Body Styles */
body {
  font-family: "Lexend", sans-serif;
  background-color: var(--background-color);
}

/* Header Styles */
.header {
  /* position: fixed; */
  width: 100%;
  z-index: 1010;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 22px;
  background-color: var(--white-text-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  margin: 20px 80px;
  transition: background-color 0.3s ease;
  z-index: 1;
  position: relative;
}
.navbar.scrolled {
  background-color: var(--primary-gradient); /* Change on scroll */
}

.logo {
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: var(--heading-color);
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  transition: color 0.3s ease; /* Smooth transition for color */
}

.link {
  margin-right: 40px;
  color: var(--text-color);
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.6s ease;
  bottom: -15px;
  left: 0;
}

.link:hover::before {
  transform: scaleX(1);
}
.nextArrow {
  display: none;
}

/* Auth Buttons */
.auth-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.login,
.signup {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 16px;
  font-weight: 600;
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.login {
  background: var(--primary-gradient);
  color: var(--white-text-color);
}

.signup {
  background: var(--white-text-color);
  color: var(--heading-color);
}

.login:hover,
.signup:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

/* Burger Icon */
.burger-icon {
  display: none; /* Use media queries to toggle visibility */
  font-size: 30px;
  cursor: pointer;
  color: var(--heading-color);
  z-index: 11;
}

/* Solve Section */
.solve-section {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #e0f7fa, #fff);
  width: 100%;
  height: auto;
  /* padding: 50px 0;  */
}

.solve-content {
  width: 100%;
  max-width: 1200px; /* Limit the width */
  margin: 0 auto; /* Centering the content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Center text */
}

.solve-content h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: var(--heading-color);
}

.solve-content p {
  font-size: 18px;
  margin-bottom: 20px;
  color: var(--text-color);
}

/* Email Input */
.email-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto;
  padding: 12px;
  width: 500px;
  max-width: 100%; /* Responsive */
  background: var(--white-text-color);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.email-input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background: var(--border-gradient);
  border-radius: 8px 0 0 8px;
}

.email-input input {
  font-size: 16px;
  flex: 1;
  outline: none;
  border: none;
  padding: 10px;
}

.email-input button {
  padding: 15px 20px;
  background: var(--primary-gradient);
  border: none;
  border-radius: 4px;
  color: var(--white-text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

/* Solve Image Section */
.solve-image {
  width: 100%;
  background: var(--primary-gradient);
  height: 832px;
}

.solve-image img {
  display: block;
  margin: 30% auto;
}

/* src/app/components/HowSection.css */

/* General styling */
.how-section {
  text-align: center;
  padding: 50px;
  background-color: #e0e7ff;
}
.how-content {
  width: 85%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left-side {
  padding: 20px;
  width: 20%;
  height: 800px;
  background: linear-gradient(to right, #80deea, #ffccbc);
  border-radius: 20px 0px 0px 20px;
}

.left-side h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.peer-list {
  list-style-type: none;
  padding: 0;
}

.peer-list li {
  padding: 10px 15px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 1.1em;
  color: #555;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

/* .peer-list li:hover {
  background-color: #e0e0e0;
  color: #000;
} */

.right-side {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  background-image: url(../../public/Asset/world_mag.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.world-chat {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.chat-type-content {
  position: absolute;
  width: 320px;
  height: 350px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: var(--white-text-color);
}
.chat-type-content h5 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
}
.chat-type-content ul {
  padding-left: 20px;
  /* margin: 0; */
}
.chat-type-content ul li {
  margin-bottom: 8px;
  list-style-type: disc;
  font-size: 16px;
  color: var(--text-color);
  padding-left: 20px;
}
.chat-type-content:nth-child(1) {
  top: 20px;
  left: 20px;
  margin-top: 20px;
}

.chat-type-content:nth-child(2) {
  top: 20px;
  right: 20px;
  margin-top: 20px;
}

.chat-type-content:nth-child(3) {
  bottom: 20px;
  left: 20px;
  margin-bottom: 20px;
}

.chat-type-content:nth-child(4) {
  bottom: 20px;
  right: 20px;
  margin-bottom: 20px;
}
/* Content sections */
/* .chat-type-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
} */

.back-btn button {
  display: none;
  background: none;
  border: none;
  font-size: 1.2em;
  color: #333;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 3px;
  background-color: #e0e0e0;
}
.bi {
  font-size: 30px;
}

.center-image {
  z-index: 0;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
.icon {
  margin-left: 8px;
  width: 12px;
  vertical-align: middle;
} */
.v1_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.v1_wrapper h4 {
  text-align: center;
  margin-bottom: 40px;
}
.row {
  display: flex;
  gap: 20px;
  flex: 1;
}

/* V1 Content Cards */
.v1_content_card {
  padding: 20px;
  background-color: var(--white-text-color);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  padding-left: 30px;
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.v1_content_card h5 {
  font-size: 1.1em;
  color: #444;
  margin-bottom: 10px;
  /* text-align: center; */
}

.v1_content_card ul {
  padding-left: 20px;
}

.read_more_btn,
#watch_demo {
  width: 150px;
  height: 100px;
  margin: auto;
  border-radius: 100%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  cursor: pointer;
  color: white;
}

.read_more_btn:hover,
#watch_demo:hover {
  background-color: #0056b3;
}
.v1_content_card ul {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
}
.v1_content_card ul li {
  margin-bottom: 8px;
  list-style-type: disc;
  font-size: 16px;
  color: var(--text-color);
  padding-left: 10px;
}
.v1_content_card .icon-wrapper .icon {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.v1_content_card:hover .icon-wrapper .icon {
  display: block;
}

/* Image styling */
.world-chat img {
  z-index: 0;
  width: 450px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Utility Options */
.utility-options {
  width: 20%;
  height: auto; /* Use auto for responsiveness */
  background-color: var(--white-text-color);
  border-radius: 20px 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; /* Add shadow for depth */
  padding: 10px; /* Add padding for better spacing */
}

.utility-options ul {
  list-style-type: none;
}

.utility-options li {
  font-size: 18px;
  padding: 15px 10px;
  margin-bottom: 10px;
  text-align: left;
  background-color: var(--white-text-color);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; /* Add shadow for depth */
}

/* Customer Engagement */
.engagement-section {
  text-align: center;
  padding: 50px;
  background-color: #f8f9fa;
  width: 100%;
  height: auto;
}
.engagement-section h2 {
  font-size: 45px;
  text-align: center;
  margin-bottom: 10px;
}
.engagement-section p {
  font-size: 2opx;
  text-align: center;
  margin-bottom: 10px;
}
.engagement-content {
  display: grid;
  grid-template-columns: 60% 37%;
  gap: 30px;
  width: 75%;
  margin: auto;
  height: auto;
}
.engagement-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  align-items: center;
}
.engagement-section p {
  margin-bottom: 20px;
  color: #555;
}
.engagement-item img {
  width: 300px;
  height: auto;
  margin-top: 20px;
}
.green_bg {
  background-image: url(../../public/Asset/green_bg.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}
.blue_bg {
  background-image: url(../../public/Asset/blue_bg1.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Footer Styles */
.footer {
  width: 100%;
  height: 350px;
  background: var(--primary-gradient);
  color: var(--white-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 35px;
}
.footer p {
  font-size: 16px;
}

.footer a {
  color: var(--white-text-color);
  text-decoration: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.popup {
  background-color: rgba(95, 92, 92, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
}

.image-wrappe {
  background-color: lightblue;
  padding: 0;
  margin: 0;
}
.step-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* Modal Styling */
.modal-overlay {
  top: 6%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.modal-content {
  background: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 20%;
  margin: 0px 80px;
}
.navList {
  display: flex;
}

/* Platform */
.platform-container {
  padding: 20px;
  background-color: #f9f9f9;
}

.platform-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.platform-section {
  background: white;
  border-radius: 8px;
  padding: 20px;
}

.section-title {
  font-size: 18px;
  margin-bottom: 16px;
  color: #333;
  font-weight: 600;
  text-align: left;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  /* border: 1px solid red; */
}

.newcard-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 16px;
  justify-items: stretch;
  align-items: stretch;
  /* border: 1px solid red; */
}
.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: left;
  cursor: pointer;
  /* transition: transform 0.2s, box-shadow 0.2s; */
  /* border: 1px solid orange; */
}

.card:hover {
  /* transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); */
  border: 1px solid #99e9a5;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.icon_wrapper {
  background-color: #e2ffe7;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-icon {
  font-size: 18px;
  color: #4caf50;
}

.card-header h3 {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.card p {
  font-size: 14px;
  color: #666;
  line-height: 1.4;
}
.nav_overlay {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.modalDropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
  transform: translateY(-20px);
  transition: transform 0.3s ease-out;
  display: none;
  width: 90%;
  height: 94vh;
  align-items: flex-end;
}

.modalDropdown.active {
  transform: translateY(0);
  display: block;
  overflow-y: auto;
}


.modalDropdown .closeBtn {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.closeBtn span{
  margin-left: 10px;
}
.nav-links li.links:hover .dropdown {
  display: block;
}
.doc_core_wrapper{
  display: flex;
}
.content-inner-heading{
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0px;
  color: #4e4e4e;
}
/* Media Queries */
@media (max-width: 768px) {
  .platform-container {
    padding: 0px;
    margin-top: 40px;
  }
  .platform-section{
    padding: 0px;
  }.newcard-list{
    grid-template-columns: none;
  }
  .navbar {
    width: 100%;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0px;
  }
  .burger-icon {
    display: block;
  }
  .nav-links.active {
    display: flex;
  }

  .nav-links {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    top: 80px;
    right: 0;
    background-color: var(--white-text-color);
    width: 70%;
    height: 94vh;
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    gap: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav_overlay.active {
    display: block;
  }
  .nextArrow {
    display: block;
  }
  .navList {
    display: block;
    width: 100%;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    cursor: pointer;
  }
  .nav-links a {
    font-size: 15px;
    font-weight: 500;
  }
  .link::before {
    display: none;
  }
  .modal-overlay {
    display: none;
  }
  .auth-buttons {
    display: block;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
  }
  .login {
    width: 100%;
    margin-bottom: 10px;
  }
  .signup {
    width: 100%;
  }

  .solve-section {
    flex-direction: column;
  }
  .solve-content {
    width: 100%;
    padding: 120px 20px 20px 20px;
  }
  .solve-content h1 {
    font-size: 32px;
  }
  .email-input {
    width: 400px;
  }
  .email-input button {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  .solve-image {
    width: 100%;
    background: var(--primary-gradient);
    height: auto;
    padding: 30px 30px 0px 0px;
  }
  .solve-image img {
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .how-section {
    display: block;
    flex-direction: column;
    padding: 20px;
  }
  .how-section h2 {
    font-size: 32px;
  }
  .how-content {
    display: block;
    width: 100%;
  }
  .left-side {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .right-side {
    display: block;
    padding: 20px;
    /* margin-top: 40px; */
    height: auto;
  }
  .center-image {
    display: none;
  }
  .back-btn button {
    display: block;
    margin: auto;
    align-items: center;
    margin-bottom: 15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: var(--primary-color);
    color: var(--white-text-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .world-chat {
    display: block;
    width: 100%;
    margin-top: 0;
  }

  .chat-type-content {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    padding: 20px;
    margin-left: 0;
  }
  .chat-type-content:nth-child(1) {
    left: 0;
    top: 0;
    margin-top: 0;
  }
  .chat-type-content:nth-child(2) {
    right: 0;
    top: 0;
  }
  .chat-type-content:nth-child(3) {
    left: 0;
    top: 5px;
    margin-top: 0;
  }
  .chat-type-content:nth-child(4) {
    right: 0;
    top: 5px;
    margin-bottom: 0;
  }
  .chat-type-content ul {
    text-align: left;
    margin-bottom: 8px;
    list-style-type: disc;
    margin: 0px 50px;
  }
  .v1_wrapper {
    height: auto;
    margin-bottom: 20px;
  }
  .v1_wrapper h4 {
    margin: 10px 0px 20px 0;
  }
  .row {
    flex-direction: column;
  }
  .v1_content_card {
    width: 100%;
  }
  .utility-options {
    width: 100%; /* Full width on small screens */
    margin-bottom: 20px; /* Add margin for spacing */
    background-color: orange;
  }
  .engagement-section {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    width: 100%;
    height: auto;
  }
  .engagement-section h2 {
    font-size: 32px;
  }
  .engagement-section p {
    font-size: 16px;
  }
  .engagement-content {
    display: block;
    width: 100%;
  }
  .engagement-item {
    margin-bottom: 20px;
  }
  
}

@media (max-width: 425px) {
  .navbar {
    width: 100%;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0px;
  }
  .burger-icon {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--white-text-color);
    width: 80%;
    height: 600px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    gap: 20px;
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links li {
    padding: 10px;
  }
  .login,
  .signup {
    width: 100%;
    margin: 0px;
  }
  .signup {
    width: 100%;
  }
  .email-input {
    width: 100%;
  }
  .email-input button {
    padding: 12px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .chat-type-content ul {
    margin: 0px;
  }
  .v1_wrapper {
    width: 100%;
  }
  .v1_content_card {
    height: auto;
    padding: 10px;
  }
  .green_bg {
    background-image: url(../../public/Asset/green_bg.png);
    background-position: center;
    background-size: auto;
  }
  .blue_bg {
    background-image: url(../../public/Asset/blue_bg_mob.png);
    background-position: center;
    background-size: auto;
  }
  .engagement-item {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .engagement-item img {
    width: 200px;
    height: auto;
    margin-top: 20px;
  }
  .section-title{
    font-size: 16px;
  }
  .card {
    padding: 10px;
  }
  .icon_wrapper{
    width: 28px;
    height: 28px;
  }
}
